/* ----- Header ----- */
.particulas{
	background-color: #25B5BB;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.particulas__logo {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#particles-js{
	width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
}

/* ----- Footer ----- */
footer{
	background-color: #FFF;
	width: 100%;
	padding: 10px 0;
}
.redes {
	width: 80%;
	height: auto;
	margin: 0 auto;
}
.redes ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

/* ----- Media queries ----- */

@media (max-width: 768px){
	
}